<%= form_for [:admin, preference] do |form| %>

<div>
  <%= form.label :artist_sort_order %>

  <%= form.label :artist_sort_order, 'Ascending', value: 'ASC'%>
  <%= form.radio_button :artist_sort_order, 'ASC' %>
  <%= form.label :artist_sort_order, 'Descending', value: 'DESC'%>
  <%= form.radio_button :artist_sort_order, 'DESC' %>
</div>

<div>
  <%= form.label :song_sort_order %>

  <%= form.label :song_sort_order, 'Ascending', value: 'ASC'%>
  <%= form.radio_button :song_sort_order, 'ASC' %>
  <%= form.label :song_sort_order, 'Descending', value: 'DESC'%>
  <%= form.radio_button :song_sort_order, 'DESC' %>
</div>


<div>
<%= form.label :allow_create_artists %>
<%= form.check_box :allow_create_artists %>
</div>

<div>
<%= form.label :allow_create_songs %>
<%= form.check_box :allow_create_songs %>
</div>

<%= form.submit 'Update Preferences' %>

<% end %>