<div>
  <p><%= preference.id %></p>
  <p><%= preference.artist_sort_order %></p>
  <p><%= preference.song_sort_order %></p>
  <p><%= preference.allow_create_songs %></p>
  <p><%= preference.allow_create_artists %></p><br>
</div>
