<h3>ID: <%= preference.id %></h3>
<p>Artist order: <%= preference.artist_sort_order %></p>
<p>Song order: <%= preference.song_sort_order %></p>
<p>Can Create Artists: <%= preference.allow_create_artists %></p>
<p>Can Create Songs: <%= preference.allow_create_songs%></p>
