<h1> Admin Preferences </h1>

<%= form_for @preference, url: admin_preference_path(@preference) do |f| %>

  <p>Artist Sort Order:</p>
  <%= f.label :artist_sort_order, "ASC" %>
  <%= f.radio_button :artist_sort_order, "ASC" %>
  <%= f.label :artist_sort_order, "DESC" %>
  <%= f.radio_button :artist_sort_order, "DESC" %>
  <br>

  <p>Song Sort Order:</p>
  <%= f.label :song_sort_order, "ASC" %>
  <%= f.radio_button :song_sort_order, "ASC" %>
  <%= f.label :song_sort_order, "DESC" %>
  <%= f.radio_button :song_sort_order, "DESC" %>
  <br></br>

  <p>Allow Create Artists:</p>
  <%= f.label :allow_create_artists, "True" %>
  <%= f.radio_button :allow_create_artists, true %>
  <%= f.label :allow_create_artists, "False" %>
  <%= f.radio_button :allow_create_artists, false %>
  <br></br>

  <p>Allow Create Songs:</p>
  <%= f.label :allow_create_songs, "True" %>
  <%= f.radio_button :allow_create_songs, true %>
  <%= f.label :allow_create_songs, "False" %>
  <%= f.radio_button :allow_create_songs, false %>
  <br></br>

  <%= f.submit %>
<% end %>
