<%= @preferences.each do |preference| %>
   <p><%= preference.artist_sort_order %></p>
   <p><%= preference.song_sort_order %></p>
   <p><%= preference.allow_create_artists %></p>
   <p><%= preference.allow_create_songs %></p>
<% end %>