<h2>App Preferences</h2>

<%= form_for @preference, url: admin_preference_path(@preference) do |f| %>
  <%= f.label :artist_sort_order %><br>
  Descending <%= f.radio_button :artist_sort_order, "DESC" %>
  Ascending <%= f.radio_button :artist_sort_order, "ASC" %><br><br>

  <%= f.label :song_sort_order %><br>
  Descending <%= f.radio_button :song_sort_order, "DESC" %>
  Ascending <%= f.radio_button :song_sort_order, "ASC" %><br><br>

  <%= f.label :allow_create_artists %><br>
  Yes <%= f.radio_button :allow_create_artists, true %>
  No <%= f.radio_button :allow_create_artists, false %><br><br>


  <%= f.label :allow_create_songs %><br>
  Yes <%= f.radio_button :allow_create_songs, true %>
  No <%= f.radio_button :allow_create_songs, false %><br><br>

  <%= f.submit 'Update Preferences' %>
<% end %>
