<h1>Preferences</h1>
<%= form_for @preference, url: admin_preference_path(@preference) do |f| %>
  <div>
    <%= f.label :allow_create_artists %> <br>
    True:<%= f.radio_button :allow_create_artists, true %><br>
    False:<%= f.radio_button :allow_create_artists, false %><br>
  </div><br>
  <div>
    <%= f.label :allow_create_songs %> <br>
    True:<%= f.radio_button :allow_create_songs, true %><br>
    False:<%= f.radio_button :allow_create_songs, false %><br>
  </div><br>
  <div>
    <%= f.label :artist_sort_order %> <br>
    ASC:<%= f.radio_button :artist_sort_order, "ASC" %><br>
    DESC:<%= f.radio_button :artist_sort_order, "DESC" %><br>
  </div><br>
  <div>
    <%= f.label :song_sort_order %> <br>
    ASC:<%= f.radio_button :song_sort_order, "ASC" %><br>
    DESC:<%= f.radio_button :song_sort_order, "DESC" %><br>
  </div><br>
  <%= f.submit %>
<% end %>