<h1>Access</h1>

<%= form_for @preference, url: preference_path(@preference) do |f| %>
  <div>
    <%= f.label :allow_create_artists %><br>
    True: <%= f.radio_button :allow_create_artists, true %>
    False: <%= f.radio_button :allow_create_artists, false %>
  </div>
  <div>
    <%= f.label :allow_create_songs %><br>
    True: <%= f.radio_button :allow_create_songs, true %>
    False: <%= f.radio_button :allow_create_songs, false %>
  </div>
  <div>
    <%= f.label :song_sort_order %>:<br>
    DESC: <%= f.radio_button :song_sort_order, "DESC" %>
    ASC: <%= f.radio_button :song_sort_order, "ASC" %>
  </div>
  <div>
    <%= f.label :artist_sort_order %>:<br>
    DESC: <%= f.radio_button :artist_sort_order, "DESC" %>
    ASC: <%= f.radio_button :artist_sort_order, "ASC" %>
  </div>
  <br>
  <%= f.submit %>
<% end %>
<br />
<%= link_to "Edit Preferences (Relic now)", edit_preference_path(@preference) %> <br>
Relic now since I now know how url path in form_for works and bypasses the rails convention.
Still though, it's good reference for how dropdown menus work.
