<h2>Preferences</h2>

<p>Song Sort Order: <%= @preferences.song_sort_order%></p>
<p>Artist Sort Oder: <%= @preferences.artist_sort_order%></p>
<p>Access to Create New Songs: <%= @preferences.allow_create_songs%></p>
<p>Access to Create New Artists: <%= @preferences.allow_create_artists%></p>



<%= link_to "Edit Preferences", new_admin_preference_path %>