<h2> Update Admin Settings </h2>

<%= form_for @preference, url: admin_preference_path(@preference)  do |f| %>

<div>
  <%= f.label :Update_Songs %><br>
    True: <%= f.radio_button :allow_create_songs, true %>
    False: <%= f.radio_button :allow_create_songs, false %>
</div>

<br>

<div>
  <%= f.label :Update_Artists%><br>
    True: <%= f.radio_button :allow_create_artists, true %>
    False: <%= f.radio_button :allow_create_artists, false %>
</div>

<br>
  <%= f.submit %>


<% end %>